@charset "utf-8";

*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    /* height: 100vh; */
    background-color: rgba(54, 87, 54, 0.973);
}

.memory-game{    
    width: 690px;
    height: 640px;
    margin: 12px auto;
    display: flex;
    flex-wrap: wrap;    
}

.card{
    height: 240px;
    width: 165px;
    margin: 2px;
    position: relative;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transform: scale(1);
    border-radius: 7px;
    border: 1px solid grey;
    background: white;
    transform-style: preserve-3d; /*não deixa o elemento achatado no plano*/
    transition: transform 0.9s;
}

.card:active{
    transform: scale(0.97);
    transition: transform 0.3s;
}

.card-face,
.card-back{     
    position: absolute;
    width: 89%;
    height: 92%;
    border-radius: 5px;
    padding: 10px;
    backface-visibility: hidden;    
/*propriedade que retira o verso do elemento*/    
    
}

.card-back{
    transform: rotateY(180deg);    
}

/*animação de flip*/

.card.flip{
    transform: rotateY(180deg);
}